APScheduler==3.6.3
asgiref==3.2.10
autopep8==1.5.4
beautifulsoup4==4.9.1
CacheControl==0.12.6
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
Django==3.1.1
django-apscheduler==0.4.2
django-cors-headers==3.5.0
django-filter==2.3.0
djangorestframework==3.11.1
firebase-admin==4.3.0
fuzzywuzzy==0.18.0
google-api-core==1.22.2
google-api-python-client==1.11.0
google-auth==1.21.1
google-auth-httplib2==0.0.4
google-cloud-core==1.4.1
google-cloud-firestore==1.9.0
google-cloud-storage==1.31.0
google-crc32c==1.0.0
google-resumable-media==1.0.0
googleapis-common-protos==1.52.0
grpcio==1.32.0
httplib2==0.18.1
idna==2.10
Markdown==3.2.2
msgpack==1.0.0
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
python-dotenv==0.14.0
python-Levenshtein==0.12.0
pytz==2020.1
requests==2.24.0
rsa==4.6
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
toml==0.10.1
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.25.10
webencodings==0.5.1
